* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;

}

.logo img{
  width: 100px;
  color: #fff;
  padding: 15px;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

#background-video {
  height: 100vh;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.circles {
  display: flex;
}

.circle {
  padding: 5px;
}