* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-spacing: 2%;
  letter-spacing: 1px;
}

body {
  display: block;

}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;

}

.logo img{
  position: relative;
  width: 100px;
  top: 5px;
  left: 15px
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  padding-right: 10px;
  font-size: 18px;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  margin:0 auto !important;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.circles {
  display: flex;
}

.circle {
  padding: 5px;
  color: #fff;
}

.hero .content {
  padding: 40px;
  position: absolute;
  top: 50%;
}

.hero .content h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.hero .content p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.hero2 {
  position: absolute;
  background: url(../images/model-3-exterior-desktop-na.png) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero2 .content {
  position: relative;
  top: 200px;
  color: #fff;
}

.hero2 .content .head h2 {
  font-size: 48px;
  font-weight: 300;
}
.hero2 .content .head h3 {
  font-size: 28px;
}

/* .hero3 {
  position: relative;
  background: #333;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
} */