/* Dark button */
.btn-dark {
  color: #fff;
  background: transparent;
  font-size: 16px;
  padding: 10px 50px;
  margin-right: 30px;
  border-radius: 5px;
  border: 2px #fff solid;
}

.btn-dark:hover {
  color: #333;
  background: #fff;
  font-size: 16px;
  padding: 10px 50px;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
}

/* Light button */
.btn-light {
  color: #333;
  background: #fff;
  font-size: 16px;
  padding: 10px 50px;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
}